* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  background-image: url('./assets/sunny_weather.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.5s ease-out;
}

.app.cold {
  background-image: url("./assets/cold.jpg");
  z-index: 0;
  background-size: cover;
  background-position: bottom;
  transition: 0.5s ease-out;
}

main {
  min-height: 100vh;
  padding: 25px;
}


.search-box {
  width: 100%;
  margin: 0 0 75px;
  
  
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  
  appearance: none;
  background: none;
  border: none;
  outline: none;
  
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  backdrop-filter: blur(30px);

  font-size: 16px;
  color: black;

  transition: 0.5s ease;
  box-shadow: 0 0 5 1px;
  
}

.search-box .search-bar:focus {
  font-size: 20px;
  background-color: rgba(255,255,255,0.8);  
}

.location-box .location{
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: white;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
  
}

.weather-box .temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(245, 245, 245, 0.562);
  border-radius: 16px;
  padding: 15px;
  color: whitesmoke;
  font-size: 95px;
  font-weight: 900;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: whitesmoke;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}